.health{
    margin-top: 8rem;
    background-color: $health-banner-color;
}
.honey{
    background-image: url(/images/Honey-sesame-chicken-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
    padding-top: 7rem;
    margin-top: .1rem;

    &__images img{
        width: 100%;
        height: 10rem;
    }
}