.nav{
    &__button{
        margin: .5rem 0 1rem .5rem;
    }
    &__link{
        font-size: 1rem;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: $button-color;
        background-image: linear-gradient(#f19933, #f19933);
        border-bottom: .2rem solid $button-color;
        text-decoration: none;
        padding: .8rem 1.3rem;
        border-radius: .3rem;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}


.honey{
  &__link{
      font-size: 1rem;
      color: #fff;
      text-transform: uppercase;
      background-color: $panda-main-color;
      background-image: linear-gradient(#d02c30, #c72029);
      border-bottom: .2rem solid #b1001a;
      padding: .9rem 1.8rem;
      text-decoration: none;
      border-radius: .3rem;
      &:hover{
          color: #fff;
          text-decoration: none;
      }
  }
}

.swag{
    &__button{
        margin-top: 1.5rem;
    }
    &__link{
        font-size: 1rem;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        border-bottom: .2rem solid #dddd !important;
        text-decoration: none;
        padding: .8rem 1.3rem;
        border-radius: .3rem;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}

.order{
    &__button{
        margin-bottom: 1rem;
    }
    &__link img{
        width: 10rem;
        height: 3.5rem;
    }
    &__link:not(:last-child){
        margin-right: .5rem;
    }
}