<%- include('partials/homeHeader') %>
<section class="health">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="health__content">
                <h4 class="title">
                    Prioritizing Health and Well-being
                </h4>
                <p class="para">
                    A COVID-19 (coronavirus) update from Panda Family.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="honey">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 col-12">
                <div class="honey__content text-center">
                    <div class="honey__images">
                        <img src="/images/Honey-Sesame-chicken-image-min.png" alt="Honey-Sesame-chicken-image-min">
                    </div>
                    <p class="paraC">
                        Crispy all-white meat chicken and fresh, <br>
                            wok-cooked veggies are tossed in a <br>
                            satisfyingly sweet sauce to help you <br>
                                Find Your Sweet Spot.
                    </p>
                    <div class="honey__button">
                        <a href="#" class="honey__link" role="button">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="explore__contentBg">
                    <h3 class="main">
                        Let's Explore!
                    </h3>
                    <h2 class="sub">
                        Lunar New Year
                    </h2>
                    <p class="para">
                        Spark curiosity with your students near or far with our new virtual Lunar New Year curriculum.
                    </p>
                    <br>
                    <div class="honey__button">
                        <a href="#" class="honey__link" role="button">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="explore__content">
                   <div class="explore__images">
                       <img src="/images/Let's-explore-lungar-new-year-image-min.jpg" alt="s-explore-lungar-new-year-image-min">
                   </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<section class="swag">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="swag__content">
                <h3 class="main">
                    Honey <br> 
                    Sesame <br>
                    Swag 
                </h3>
                <h4 class="sub">
                    Now Available
                </h4>
                <div class="swag__button">
                    <a href="#" class="swag__link" role="button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="get">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="get__content">
                <h2 class="title">
                    Get Social
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="social">
    <div class="cotnaier-fluid">
        <div class="row">
            <div class="col-lg-3 col-12 social__space">
                <div class="social__contentF">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </div>
            </div>
            <div class="col-lg-3 col-12 social__space">
                <div class="social__contentT">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </div>
            </div>
            <div class="col-lg-3 col-12 social__space">
                <div class="social__contentY">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </div>
            </div>
            <div class="col-lg-3 col-12 social__space">
                <div class="social__contentI">
                    <svg class="social__icon">
                        <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="order">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="order__content text-center">
                    <h3 class="title">
                        For Open Locations
                    </h3>
                    <h2 class="now">
                        Order Now
                    </h2>
                    <p class="para">
                        Through the Panda Express App
                    </p>
                    <div class="order__button">
                        <a href="#" class="order__link">
                          <img src="/images/google-button-image-min.png" alt="google-button-image-min">
                        </a><a href="#" class="order__link">
                            <img src="/images/app-store-button-image-min.png" alt="app-store-button-image-min">
                        </a>
                    </div>
                    <p class="small">
                        <strong>OPEN FOR YOU</strong> Some restaurant locations are open for pickup, drive-thru, or 
                        delivery orders
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="family">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-12 family__space">
                <div class="family__content text-center">
                    <div class="family__images">
                        <img src="/images/our-family-story-image-min.jpg" alt="our-family-story-image-min">
                    </div>
                     <h2 class="title">
                         Our Family Story
                     </h2>
                </div>
            </div>
            <div class="col-lg-3 col-12 family__space">
                <div class="family__content text-center">
                    <div class="family__images">
                        <img src="/images/Fundraising-image-min.jpg" alt="Fundraising-image-min">
                    </div>
                     <h2 class="title">
                        Fundraising
                     </h2>
                </div>
            </div>
            <div class="col-lg-3 col-12 family__space">
                <div class="family__content text-center">
                    <div class="family__images">
                        <img src="/images/Careers-image-min.jpg" alt="Careers-image-min">
                    </div>
                     <h2 class="title">
                         Careers
                     </h2>
                </div>
            </div>
            <div class="col-lg-3 col-12 family__space">
                <div class="family__content text-center">
                    <div class="family__images">
                        <img src="/images/Catering-image-min.jpg" alt="Catering-image-min">
                    </div>
                     <h2 class="title">
                         Catering
                     </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>