.order{
    padding-top: 7rem;
    background-image: url(/images/For-Open-location-order-now-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
}