.swag{
    margin-top: 1rem;
    padding-top: 7rem;
    background-image: url(/images/Honey-sesame-swag-bg-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 28rem;

   
    
}